﻿<div ng-if="deviceNotFound">
        <h1 style="color:red;">Device not found</h1>
</div> 
<uib-accordion class="accordion" close-others="true">
    <div uib-accordion-group class="panel-default"ng-repeat="(key,value) in dataGroup[0]">
        <uib-accordion-heading>
        <i class="pull-left icon-arrow-right" ng-class="{'open': vm.status.open}"></i>
        {{key}}
        </uib-accordion-heading>
        <table class="table table-striped table-home table-hover table-bordered">
        <tr ng-repeat="(key,value) in value">
            <td style="width : 10%"><b>{{key}}:</b></td>
            <td>{{value}}</td>
        </tr>
        </table>
    </div>
</uib-accordion>
        