﻿

    <uib-accordion close-others="vm.oneAtATime" ng-if="vm.currentDevice != null">
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
            <i class="pull-left icon-arrow-right" ng-class="{'open': vm.status.open}"></i>
            History of Device:

            </uib-accordion-heading>
            <table class="table table-home table-striped table-hover table-bordered">                     
                <tr>
                    <th style="width : 10%">Date</th>
                    <th>Description</th>
                </tr>
            <tr ng-repeat="value in vm.currentDevice.HistoryList">
                <td style="width : 10%">{{value.Date}}</td>
                <td>{{value.Description}}</td>
            </tr>
            </table>
        </div>
    </uib-accordion>
