<div data-ng-include="'app/components/header/header.html'">

</div>
<ul class="nav nav-tabs">
  <li role="presentation" ng-disabled="currentDevice == null"  class="{{detailsActive}}"><a href="" ng-click="changeState('home.details')"><span>Device</span> Details</a></li>
  <li role="presentation" ng-disabled="currentDevice == null" class="{{detailsCharacteristics}}"><a href="" ng-click="changeState('home.characteristics')"><span>Device</span> Characteristics</a></li>
</ul>

<div data-ng-include="'app/components/scanBar/scanBar.html'"></div>

<div class="container-fluid">
    <!--{{scanned}}-->
    <div class="row">
        <main>
        <div class="col-sm-7">
            <div ui-view autoscroll="false" style="margin-left : 10px;">

            </div>
        </div>

        <!-- simulation-->
        <div class="col-sm-5" id="test" style="background-color : lightgrey; height : 100%; overflow: auto;">
                
     
        </div>

        </main>
    </div>
</div>
<div data-ng-include="'app/components/footer/footer.html'"></div>
        