﻿<header ng-controller="HeaderCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="btn">
                        <img src="assets/images/laetus_icon.png" width="25px" height="25px" alt=""/>
                    </span>
                    Medical Devices Tracking                  
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
				<!-- NOTE: To toggle dropdown, please add .dd-open class to li.user -->
                <li class="user {{class}}">
					<a href ="#" ng-click="changeDropdownClass()">{{currentUser}}<i class="btn icon-operator"></i></a>
				</li>
                <li><a href="#">{{clock | date:'medium'}}</a></li>
                <li class="firm-logo"><a><img style="height: 20px; margin-top: 18px;" src="assets/images/new-laetus-logo.png" alt=""/></a></li>
                <li>
                    <a class="btn q-mark" data-toggle="dropdown" id="menu1" disabled></a>
                    <!-- <ul class="dropdown-menu" style="padding: 15px;" role="menu" aria-labelledby="menu1">
                        <li ng-repeat="(key,value) in udis" style="margin: 5px 0;" ng-click="getSelectedDevice(key)"><h4 ng-style="{color: value}">{{key}}</h4></li>                             
                    </ul> -->
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <style>
            .dropdown-menu li:hover {
            background: #BBBBBB;
        }
    </style>
</header>
