﻿<footer data-ng-controller="FooterCtrl as vm">
	<div class="footer-content">
        <actions></actions>
		<div class="content-wrapper">
            <!-- <div class="color-palette">
                <p class="classification-lgnd">Devices classification: </p>
                <p class="legend-cl1">Class I</p>
                <p class="legend-cl2">Class II</p>
                <p class="legend-cl3">Class III</p>
                <p class="legend-cl4">Class IV</p>
            </div> -->
		</div>
	</div>

	<div class="btn-wrap left">
		<a class="btn bg-dark text-white btn-lg"><i class="icon-mode"></i>System</a>
	</div>
	<div class="btn-wrap right">
		<a class="icon-arrow-top"></a>
	</div>
</footer>