<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HLFV1 DEMO</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-controller="testCtrl">
    
    Number of locations: {{nolocations}}/{{participantsCount}} <br/>
    Number od devices: {{nodevices}}/{{assetsCount}} <br/>
    Failed locations: {{locationfails}} <br/>
    Failed devices: {{devicefails}} <br/>
    {{message}} <br/>

    <script src="assets/scripts/angular.js"></script>
    <script src="assets/scripts/app.js"></script>
</body>

</html>