
<div class="container-fluid">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<div class ="row">
		<div class="col-xs-12 col-md-7">
			<div class="manual-operation" ng-keypress="storeDivInputInBuffer($event)" tabindex="0">
				<div class="scan-item">
					<h2 class="space-right">Scan Item:<!--{{scanItemLabel}}--></h2>
					<input type="text" id="uscInput" ng-keypress="vm.executeOnEnter($event)" ng-model="vm.inputUdi" class="form-control" ng-disabled="!vm.handscannerProcessingEnabled"/>
                    <div class="loader-gif" ng-hide="vm.handscannerProcessingEnabled">
						<img src="http://onestopcustom.com/Widget/Theme.ashx?n=loading.gif" width="30px" heght="25px" alt=""/>
					</div>
					<span>
                        <label class="btn btn-md btn-scan text-white bg-blue" for="capture"><i class="icon-barcode"></i>Scan</label>
                        <input type="file" accept="image/*" id="capture" capture="camera" ng-click="disableGif()"  onchange="angular.element(this).scope().getBase64(this)"/>
                    </span>				
				</div>
			</div>
        </div>
        <div class="col-md-5 front">            
            <button type="button" ng-if="!((dataGroup == null || deviceDelivered) || !deviceAvailable)" ng-disabled="!vm.handscannerProcessingEnabled" ng-click="vm.transport()" class="btn btn-success">{{deviceTransportButtonLabel}}</button>
            <button type="button" ng-if="!(dataGroup == null || !deviceAvailable)" ng-disabled="!vm.handscannerProcessingEnabled" data-toggle="modal" data-target="#myModal" class="btn btn-danger">{{deviceRejectButtonLabel}}</button> 
                        
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Reason:</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" ng-model="rejectionDescription" class="form-control" placeholder="Enter a reason for device rejection..."/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" ng-click="vm.applyOperation(rejectionDescription)" data-dismiss="modal">Apply</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
                          
            <button type="button" ng-if="dataGroup != null" ng-disabled="!vm.handscannerProcessingEnabled" data-toggle="modal" data-target="#myModal2" class="btn btn-default">View JSON</button>          
            <div class="modal fade" id="myModal2" role="dialog" style="width:100%;">
                <div class="modal-dialog" style="width:65%; height:100%">
                    <div class="modal-content" style="height:90%">
                    <div class="modal-header">
                        <h4 class="modal-title">JSON:</h4>
                    </div>
                    <div class="modal-body" style="overflow: auto; width:100%; height:80%">
                        <pre>{{devicestr}}</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                    </div>
                </div>
            </div>
            <span>  
            <h4 ng-if="deviceDelivered" style="color:green; margin-top: -5px; display: inline-block">Device successfully delivered!</h4>
            <h4 ng-if="!(deviceAvailable || dataGroup == null)" style="color:red; margin-top: -5px; display: inline-block;">Device rejected!</h4>
            </span>
        </div>
       
        
               
    <style>
        .col-md-5 > .btn {
             width : 25%; 
             margin-right : 13px;
         }
         .col-md-5 {
             margin-top : 10px;
         }
         .modal-content {
             min-width:500px;
             border-radius: 15px;
         }
     </style>
    </div>
</div>
