body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

    audio:not([controls]) {
        display: none;
    }

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

a {
    text-decoration: none;
}

    a:focus, a:hover, a:active {
        outline: none;
    }

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 0;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

    q::before, q::after {
        content: "";
        content: none;
    }

small {
    font-size: 85%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

nav ul, nav ol, ul, li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
        *overflow: visible;
    }

        button[disabled], input[disabled] {
            cursor: default;
        }

input, textarea {
    -webkit-box-shadow: none;
}

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
        *width: 13px;
        *height: 13px;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

    input:invalid, textarea:invalid {
        background-color: #f0dddd;
    }

input, textarea, select {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

.bg-red {
    background-color: #c0392b !important;
}

    .bg-red.btn:hover {
        background-color: #962d22 !important;
    }

.text-red {
    color: #c0392b !important;
}

    .text-red:hover, .text-red:focus {
        color: #c0392b !important;
    }

.bg-white {
    background-color: #fff !important;
}

    .bg-white.btn:hover {
        background-color: #e6e6e6 !important;
    }

.text-white {
    color: #fff !important;
}

    .text-white:hover, .text-white:focus {
        color: #fff !important;
    }

.bg-black {
    background-color: #000 !important;
}

    .bg-black.btn:hover {
        background-color: #000 !important;
    }

.text-black {
    color: #000 !important;
}

    .text-black:hover, .text-black:focus {
        color: #000 !important;
    }

.bg-blue {
    background-color: #5b93b8 !important;
}

    .bg-blue.btn:hover {
        background-color: #44799c !important;
    }

.text-blue {
    color: #5b93b8 !important;
}

    .text-blue:hover, .text-blue:focus {
        color: #5b93b8 !important;
    }

.bg-green {
    background-color: #1fae70 !important;
}

    .bg-green.btn:hover {
        background-color: #178354 !important;
    }

.text-green {
    color: #1fae70 !important;
}

    .text-green:hover, .text-green:focus {
        color: #1fae70 !important;
    }

.bg-orange {
    background-color: #f80 !important;
}

    .bg-orange.btn:hover {
        background-color: #cc6d00 !important;
    }

.text-orange {
    color: #f80 !important;
}

    .text-orange:hover, .text-orange:focus {
        color: #f80 !important;
    }

.bg-dark {
    background-color: #545454 !important;
}

    .bg-dark.btn:hover {
        background-color: #3b3b3b !important;
    }

.text-dark {
    color: #545454 !important;
}

    .text-dark:hover, .text-dark:focus {
        color: #545454 !important;
    }

.bg-grey {
    background-color: #f6f5f5 !important;
}

    .bg-grey.btn:hover {
        background-color: #dedada !important;
    }

.text-grey {
    color: #f6f5f5 !important;
}

    .text-grey:hover, .text-grey:focus {
        color: #f6f5f5 !important;
    }

@font-face {
    font-family: "icons";
    src: url("../fonts/icons.eot");
    src: url("../fonts/icons.eot?#iefix") format("eot"),url("../fonts/icons.woff") format("woff"),url("../fonts/icons.ttf") format("truetype");
}

.icon-arrow-down:before, .icon-arrow-right:before, .icon-arrow-top:before, .icon-arrow:before, .icon-barcode:before, .icon-check:before, .icon-clock:before, .icon-close:before, .icon-error-filled:before, .icon-error:before, .icon-info-button:before, .icon-info-filled:before, .icon-info:before, .icon-line:before, .icon-mode:before, .icon-operator:before, .icon-plus:before, .icon-warning-filled:before, .icon-warning:before, .table.table-sortable > thead > tr > th.SortAsc:after, .table.table-sortable > thead > tr > th.SortDesc:after, .modal-info .modal-content .modal-title:after, .modal-warning .modal-content .modal-title:after, .modal-error .modal-content .modal-title:after {
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.icon-arrow-down:before {
    content: "";
}

.icon-arrow-right:before {
    content: "";
}

.icon-arrow-top:before {
    content: "";
}

.icon-arrow:before {
    content: "";
}

.icon-barcode:before {
    content: "";
}

.icon-check:before {
    content: "";
}

.icon-clock:before {
    content: "";
}

.icon-close:before {
    content: "";
}

.icon-error-filled:before {
    content: "";
}

.icon-error:before {
    content: "";
}

.icon-info-button:before {
    content: "";
}

.icon-info-filled:before {
    content: "";
}

.icon-info:before {
    content: "";
}

.icon-line:before {
    content: "";
}

.icon-mode:before {
    content: "";
}

.icon-operator:before {
    content: "";
}

.icon-plus:before {
    content: "";
}

.icon-warning-filled:before {
    content: "";
}

.icon-warning:before {
    content: "";
}

* {
    box-sizing: border-box;
}

.a-heading h3 {
    margin-bottom: 5px;
}

.a-heading h4 {
    margin-bottom: 20px;
}

.a-heading h5 {
    margin-bottom: 20px;
}

.a-heading.with-buttons {
    position: relative;
}

    .a-heading.with-buttons h3, .a-heading.with-buttons h4, .a-heading.with-buttons h5 {
        padding-right: 200px;
    }

    .a-heading.with-buttons .buttons {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

        .a-heading.with-buttons .buttons .btn + .btn {
            margin-left: 10px;
        }

.m-title {
    color: #5b93b8;
    padding-bottom: 5px;
    border-bottom: 1px solid #5b93b8;
    margin-bottom: 5px;
    font-weight: bold;
}

.modify .mapping .m-title {
    position: relative;
}

    .modify .mapping .m-title .btn {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

.lead {
    font-size: 16px;
}

.intro {
    margin-bottom: 20px;
}

.modify .mapping {
    margin-top: 35px;
}

    .modify .mapping + .mapping {
        margin-top: 45px;
    }

p:not(.lead) {
    font-size: 14px;
}

    p:not(.lead):not(.intro) {
        margin-bottom: 5px;
    }

a {
    color: inherit;
}

[class*='icon-'] {
    text-decoration: none;
    line-height: 1;
    display: inline-block;
}

    [class*='icon-']:hover, [class*='icon-']:focus {
        text-decoration: none;
    }

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    height: 100%;
    font-family: 'Roboto Condensed', arial;
    background-image: url("../images/noise-light.png");
}

.wrapper {
    position: relative;
    top: 100px;
    height: -webkit-calc(100vh - 190px);
    height: calc(100vh - 190px);
    overflow: hidden;
    padding-top: 25px;
}

    .wrapper.login-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .wrapper.login-wrapper .container {
            width: 100%;
        }

@media screen and (min-width: 1200px) {
    .wrapper.login-wrapper {
        padding-bottom: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .wrapper.login-wrapper {
        padding-bottom: 100px;
    }
}

.wrapper.aside-collapse aside {
    -webkit-transform: translateX(-webkit-calc(100% - 50px));
    -ms-transform: translateX(calc(100% - 50px));
    transform: translateX(calc(100% - 50px));
    border-color: #ddd;
}

    .wrapper.aside-collapse aside > * {
        opacity: 0;
        pointer-events: none;
    }

    .wrapper.aside-collapse aside .aside-toggler, .wrapper.aside-collapse aside::before {
        opacity: 1;
        pointer-events: all;
    }

.wrapper.aside-collapse main {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
}

.wrapper.aside-animate aside {
    -webkit-transition: -webkit-transform 400ms ease-out;
    transition: -webkit-transform 400ms ease-out;
    transition: transform 400ms ease-out;
    transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.wrapper.aside-animate main {
    -webkit-transition: width 400ms ease-out;
    transition: width 400ms ease-out;
}

@media screen and (max-width: 1199px) {
    .wrapper {
        top: 50px;
        height: -webkit-calc(100vh - 140px);
        height: calc(100vh - 140px);
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        overflow: auto;
    }
}

main {
    height: -webkit-calc(100vh - 312px);
    height: calc(100vh - 312px);
    background-color: #f6f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
}

aside {
    height: -webkit-calc(100vh - 255px);
    height: calc(100vh - 255px);
    background-color: #fff;
    padding: 20px 20px 0 !important;
    position: fixed !important;
    right: 0;
    top: 165px;
    border-left: 1px solid #e0e0e0;
}

@media screen and (max-width: 1199px) {
    aside {
        position: static !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    aside {
        height: -webkit-calc(100vh - 312px);
        height: calc(100vh - 312px);
    }
}

aside > *:last-child {
    margin-bottom: 20px;
}

aside::before {
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    content: "";
    position: absolute;
    top: 20px;
    left: 12px;
    width: 25px;
    height: 25px;
    border: 1px solid #b5b5b5;
    background-color: #e0e0e0;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    pointer-events: all;
    font-size: 12px;
    line-height: 25px;
}

aside .aside-toggler {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 50px;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

    aside .aside-toggler::before {
        content: '';
        position: absolute;
        background-color: #e0e0e0;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 4px;
        height: 50px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 5px;
    }

main, aside {
    overflow: auto;
}

    main.modify, aside.modify {
        background-color: #fff;
    }

@media screen and (min-width: 768px) and (max-width: 1199px) {
    main, aside {
        height: -webkit-calc(100vh - 262px);
        height: calc(100vh - 262px);
    }
}

@media screen and (max-width: 767px) {
    main, aside {
        height: auto;
        overflow: visible;
    }
}

.mapping + .mapping {
    margin-top: 20px;
}

.actions {
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 50px;
    padding-right: 20px;
    text-align: right;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 80vw;
    background-image: url("../images/noise-light.png");
}

    .actions .btn {
        margin-left: 20px;
    }

.aside-actions {
    margin-top: 40px;
}

    .aside-actions .btn {
        margin-right: 20px;
    }

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/roboto-condensed/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/roboto-condensed/RobotoCondensed-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/roboto-condensed/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/roboto-condensed/RobotoCondensed-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/roboto-condensed/RobotoCondensed-Light.eot") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/roboto-condensed/RobotoCondensed-LightItalic.eot") format("truetype");
    font-weight: 300;
    font-style: italic;
}

.btn {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
    font-weight: bold;
    font-family: inherit;
}

    .btn i {
        position: relative;
        float: left;
        top: 4px;
        margin-right: 5px;
        font-size: 0.9em;
    }

    .btn.disabled {
        pointer-events: none;
        color: #b5b5b5;
    }

    .btn.btn-primary {
        background-color: #5b93b8;
        box-shadow: none;
        border: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        .btn.btn-primary:not(.open).no-select {
            background-color: #f6f5f5;
            color: #3e3e3e;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
        }

            .btn.btn-primary:not(.open).no-select:hover, .btn.btn-primary:not(.open).no-select:focus, .btn.btn-primary:not(.open).no-select:active, .btn.btn-primary:not(.open).no-select:active:focus, .btn.btn-primary:not(.open).no-select:active:hover {
                background-color: #f6f5f5 !important;
                color: #3e3e3e;
            }

.open .btn.btn-primary:not(.open).no-select {
    background-color: #5b93b8 !important;
    color: #fff;
}

.open .btn.btn-primary {
    background-color: #5b93b8;
    color: #fff;
}

.btn.btn-primary:not(.no-select):hover, .btn.btn-primary:not(.no-select):focus, .btn.btn-primary:not(.no-select):active, .btn.btn-primary:not(.no-select):active:focus, .btn.btn-primary:not(.no-select):active:hover {
    background-color: #5b93b8 !important;
    color: #fff;
}

.btn-group {
    width: 100%;
}

    .btn-group i {
        font-size: 12px;
        position: absolute;
        top: 50%;
        right: 6px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .btn-group .btn {
        width: 100%;
        text-align: left;
    }

.dropdown-menu {
    padding: 0;
    left: 10px;
    right: 10px;
    box-shadow: none;
    margin: 0;
    border-top: 0;
    border-radius: 0;
}

    .dropdown-menu > li:nth-child(even) > a {
        background-color: #f6f5f5;
    }

    .dropdown-menu > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
    }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color: #5b93b8;
            color: #fff;
        }

.delete {
    background-color: #333;
    color: #fff;
    width: 18px;
    top: 0 !important;
    line-height: 1;
    margin: 1px 5px 0 3px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    left: 3.5px;
}

    .delete:hover, .delete:focus {
        text-decoration: none;
        color: #fff;
    }

    .delete::before {
        pointer-events: none;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 7px 8px 0;
        border-color: transparent #333 transparent transparent;
        top: 0;
        left: -7px;
    }

.wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.nav-tabs {
    padding-left: 15px;
    padding-right: 15px;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active a:hover, .nav-tabs > li.active a:focus {
        background-color: #f6f5f5;
        color: #5b93b8;
    }

    .nav-tabs > li.active.white > a, .nav-tabs > li.active.white a:hover, .nav-tabs > li.active.white a:focus {
        background-color: #fff;
    }

    .nav-tabs > li > a {
        padding: 8px 15px;
        background-color: #f1f1f1;
        border-bottom: 1px solid #ddd;
        border-radius: 8px 8px 0 0;
    }

        .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
            color: #000;
        }

.panel {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

    .panel + .panel {
        margin-top: 10px !important;
    }

.panel-default > .panel-heading {
    background-color: #5b93b8;
    color: #fff;
    padding: 13px 15px;
    border-radius: 8px;
    position: relative;
}

    .panel-default > .panel-heading a {
        text-decoration: none;
    }

    .panel-default > .panel-heading [class*='icon'] {
        font-size: 12px;
        position: relative;
        top: 3px;
        margin-right: 10px;
    }

        .panel-default > .panel-heading [class*='icon'].open {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .panel-default > .panel-heading [class*='icon'].icon-plus {
            position: absolute;
            right: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            display: none;
            background-color: #f6f5f5;
            color: #5b93b8;
            width: 28px;
            height: 28px;
            border-radius: 3px;
            margin-right: 0;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
        }

            .panel-default > .panel-heading [class*='icon'].icon-plus::before {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

.panel-default.panel-open > .panel-heading .icon-plus {
    display: block;
}

.panel-body {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0 !important;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 0 15px;
}

.table-in .panel-body {
    background-color: transparent;
    padding: 0;
    border: 0 !important;
}

@media screen and (max-width: 767px) {
    .panel-body {
        max-width: 100%;
        overflow: auto;
    }
}

.table {
    margin-bottom: 0;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #ddd;
    border-collapse: separate;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 0;
}

    .table th, .table td {
        border: 1px solid #ddd;
    }

    .table > tbody > tr > td, .table > thead > tr > th {
        border-left: 0;
        border-top: 0;
    }

        .table > tbody > tr > td:last-child, .table > thead > tr > th:last-child {
            border-right: 0;
        }

    .table tbody tr:nth-of-type(odd) {
        background-image: url("../images/noise-light.png");
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #fff;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: 1px solid #ddd;
        border-left: 0;
        border-top: 0;
    }

        .table > thead > tr > th:last-child, .table > tbody > tr > th:last-child, .table > tfoot > tr > th:last-child, .table > thead > tr > td:last-child, .table > tbody > tr > td:last-child, .table > tfoot > tr > td:last-child {
            border-right: 0;
        }

    .table > thead > tr > th, .table > thead > tr > td {
        border-bottom-width: 1px;
    }

@media screen and (max-width: 1199px) {
    .table.table-home tr th, .table.table-home tr td {
        width: 100% !important;
        border-left: 0 !important;
        border-right: 0 !important;
        display: block;
    }
}

.table.table-home tr:nth-child(1), .table.table-home tr:nth-child(2), .table.table-home tr:nth-child(3) {
    word-break: break-all;
}

.table.table-sortable > thead > tr > th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .table.table-sortable > thead > tr > th.SortAsc, .table.table-sortable > thead > tr > th.SortDesc {
        cursor: pointer;
        position: relative;
        padding-right: 20px;
    }

        .table.table-sortable > thead > tr > th.SortAsc:after, .table.table-sortable > thead > tr > th.SortDesc:after {
            content: "";
        }

        .table.table-sortable > thead > tr > th.SortAsc::after, .table.table-sortable > thead > tr > th.SortDesc::after {
            position: absolute;
            top: 50%;
            right: 3px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 10px;
            opacity: 0;
        }

        .table.table-sortable > thead > tr > th.SortAsc.sorted::after, .table.table-sortable > thead > tr > th.SortDesc.sorted::after {
            opacity: 1;
        }

        .table.table-sortable > thead > tr > th.SortDesc::after {
            -webkit-transform: translateY(-50%) rotateZ(180deg);
            -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotateZ(180deg);
        }

.panel .table {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mapping .table .btn {
    padding: 2px 5px;
    font-size: 13px;
    line-height: 13px;
}

    .mapping .table .btn i {
        margin: 0;
        float: none;
        top: 1px;
    }

.mapping .table td, .mapping .table th {
    width: 50%;
}

    .mapping .table td:last-child, .mapping .table th:last-child {
        min-width: 43px;
    }

.panel-body .table td:nth-child(1), .panel-body .table th:nth-child(1) {
    width: 35%;
}

.panel-body .table td:nth-child(2), .panel-body .table td:nth-child(3), .panel-body .table th:nth-child(2), .panel-body .table th:nth-child(3) {
    width: 23%;
}

.panel-body .table td:nth-child(4), .panel-body .table th:nth-child(4) {
    width: 18%;
}

.table td.button-in, .table th.button-in {
    position: relative;
}

.table td .form-group, .table th .form-group {
    position: relative;
    margin-bottom: 0;
}

.table td:not(:first-child):not(:last-child), .table th:not(:first-child):not(:last-child) {
    border-left-color: #fff;
    border-right-color: #fff;
}

.table td:first-child, .table th:first-child {
    border-right-color: #fff;
}

.table td:last-child, .table th:last-child {
    border-left-color: #fff;
}

.table > thead > tr {
    background-color: #f6f5f5;
}

.table-selectable > tbody tr {
    cursor: pointer;
}

    .table-selectable > tbody tr.selected {
        background: #5b93b8;
        color: #fff;
    }

        .table-selectable > tbody tr.selected > td {
            background: #5b93b8;
        }

.table.table-hover > tbody > tr:hover {
    background: #f6f5f5;
}

.search {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

    .search label {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 0;
        display: inline-block;
        margin-right: 10px;
        float: left;
    }

    .search input {
        height: 35px;
        padding: 0 15px;
        width: 380px;
        display: inline-block;
        position: relative;
        max-width: 500px;
        width: 100%;
    }

label {
    font-weight: normal;
}

input[type='search'], input[type='text'], input[type='number'], input[type='file'], input[type='password'], input[type='username'], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    border: 1px solid #ddd;
    font-family: 'Roboto Condensed', sans-serif;
    resize: none;
}

    input[type='search'].disabled, input[type='text'].disabled, input[type='number'].disabled, input[type='file'].disabled, input[type='password'].disabled, input[type='username'].disabled, select.disabled, textarea.disabled {
        background-color: #b5b5b5;
        pointer-events: none;
    }

    input[type='search'][readonly="readonly"], input[type='text'][readonly="readonly"], input[type='number'][readonly="readonly"], input[type='file'][readonly="readonly"], input[type='password'][readonly="readonly"], input[type='username'][readonly="readonly"], select[readonly="readonly"], textarea[readonly="readonly"] {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.results {
    height: 213px;
    overflow: auto;
    border: 1px solid #ddd;
}

textarea {
    padding-top: 5px;
    padding-left: 5px;
}

    textarea + span {
        color: #b5b5b5;
    }

    textarea + .ta-add {
        position: absolute;
        box-shadow: none !important;
        bottom: 21px;
        right: 21px;
        padding: 1.5px 6px;
        font-weight: normal;
        font-size: 12px;
        border: 1px solid #ddd;
    }

input[type='text'] {
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    border: 1px solid #ddd;
}

.form-group input[type='text'] {
    width: 100%;
    height: 22px;
    padding: 0 5px;
}

.button-in input[type='text'] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .button-in input[type='text'] + .btn {
        box-shadow: none;
        padding: 0;
        position: absolute;
        right: 1px;
        top: 1px;
        bottom: 1px;
        width: 25px;
        border-left: 1px solid #ddd;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.button-out input[type='text'] {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
}

    .button-out input[type='text'] + .btn {
        padding: 3px 6px;
        font-weight: normal;
        font-size: 11px;
        box-shadow: none;
        border: 1px solid #ddd;
        position: relative;
        top: -1px;
        float: right;
    }

.login-wrapper form {
    padding: 30px;
    background-color: #fff;
    border-left: 10px solid #6d91b7;
    border-right: 10px solid #6d91b7;
    max-width: 550px;
    margin: auto;
}

    .login-wrapper form::after {
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }

    .login-wrapper form .btn {
        float: right;
        color: #6d91b7;
        line-height: 36px;
        border-radius: 4px;
        background-color: #f5f2f2;
        vertical-align: top;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 1px #fff;
        -webkit-transition: background-color 40ms ease-out, color 40ms ease-out;
        transition: background-color 40ms ease-out, color 40ms ease-out;
        min-width: 120px;
        padding: 0 10px;
        border: 0;
        margin-top: 18px;
    }

        .login-wrapper form .btn:hover, .login-wrapper form .btn:active, .login-wrapper form .btn:focus {
            background-color: #6d91b7;
            color: #fff;
            box-shadow: initial;
        }

    .login-wrapper form label {
        display: block;
        text-transform: uppercase;
        margin-bottom: 9px;
        font-size: 14px;
    }

    .login-wrapper form input {
        box-shadow: none;
    }

    .login-wrapper form .form-group {
        margin-bottom: 18px;
    }

.login-wrapper h1 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 36px;
}

@media all and (max-width: 767px) {
    .login-wrapper {
        height: auto;
        top: 0;
        padding: 0;
    }
}

.btn-scan {
    display: block;
}

    .btn-scan + input[type="file"] {
        opacity: 0;
        position: absolute;
        left: -9999px;
    }

.message-container h1 {
    word-break: break-word;
}

.modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 20px;
}

    .modal-content .modal-header, .modal-content .modal-body, .modal-content .modal-footer {
        padding-right: 25px;
        padding-left: 25px;
        border: 0;
    }

    .modal-content .modal-title {
        padding-right: 50px;
        position: relative;
    }

        .modal-content .modal-title h3 {
            margin-bottom: 10px;
        }

        .modal-content .modal-title h4 {
            font-size: 15px;
        }

        .modal-content .modal-title::after {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 0;
            font-size: 32px;
        }

.modal-info .modal-content {
    border-color: #5b93b8;
}

    .modal-info .modal-content .modal-title:after {
        content: "";
    }

    .modal-info .modal-content .modal-title::after {
        color: #5b93b8;
    }

.modal-login .modal-content {
    border-color: #5b93b8;
}

    .modal-login .modal-content input {
        height: 30px;
        border-radius: 5px;
        padding: 0 10px;
    }

.modal-warning .modal-content {
    border-color: #f80;
}

    .modal-warning .modal-content .modal-title:after {
        content: "";
    }

    .modal-warning .modal-content .modal-title::after {
        color: #f80;
    }

.modal-error .modal-content {
    border-color: red;
}

    .modal-error .modal-content .modal-title:after {
        content: "";
    }

    .modal-error .modal-content .modal-title::after {
        color: red;
    }

.modal-dialog {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    width: 476px;
}

.space-right {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
}

@media screen and (max-width: 767px) {
    .space-right {
        padding-bottom: 0;
    }
}

.scan-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .scan-item .btn {
        margin-left: 15px;
        line-height: 27px;
    }

        .scan-item .btn i {
            font-size: 24px;
            top: 2px;
        }

@media screen and (min-width: 1200px) {
    .scan-item .btn {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .scan-item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }
}

.manual-operation {
    outline: 0;
}

    .manual-operation .form-control {
        width: auto;
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        height: 41px;
    }

@media screen and (max-width: 767px) {
    .manual-operation {
        padding-bottom: 15px;
    }

        .manual-operation .space-right {
            width: 100%;
        }
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

    header .navbar {
        border-radius: 0;
        border: 0;
        margin: 0;
        background-color: #3e3e3e;
        background-repeat: repeat;
    }

    header .nav > li > a {
        padding: 0 10px;
        line-height: 50px;
        display: inline-block;
    }

    header li.firm-logo:last-child {
        padding-right: 15px;
    }

    header li.firm-logo::after {
        display: none;
    }

    header li.firm-logo > a {
        padding-right: 0;
    }

    header li.firm-logo img {
        position: relative;
        top: -3px;
    }

    header nav .container-fluid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        header nav .container-fluid::after, header nav .container-fluid::before {
            display: none;
        }

    header nav ul > li > .btn, header nav ul > li > a > .btn, header .navbar-brand .btn {
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
        float: right;
        margin-left: 10px;
        width: 35px;
        height: 35px;
        border-radius: 3px;
        background-color: #545454;
        position: relative;
        top: 7px;
        line-height: 35px;
        vertical-align: middle;
    }

        header nav ul > li > .btn.q-mark, header nav ul > li > a > .btn.q-mark, header .navbar-brand .btn.q-mark {
            margin-right: 15px;
        }

            header nav ul > li > .btn.q-mark::before, header nav ul > li > a > .btn.q-mark::before, header .navbar-brand .btn.q-mark::before {
                content: '?';
            }

        header nav ul > li > .btn:hover, header nav ul > li > .btn:focus, header nav ul > li > a > .btn:hover, header nav ul > li > a > .btn:focus, header .navbar-brand .btn:hover, header .navbar-brand .btn:focus {
            background-color: #616161;
            color: #fff;
        }

        header nav ul > li > .btn::before, header nav ul > li > a > .btn::before, header .navbar-brand .btn::before {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    header .navbar-brand .btn {
        float: left;
        margin-left: 0;
        margin-right: 10px;
        width: 35px;
        height: 35px;
        background-color: transparent;
        border-radius: 3px;
        top: -7px;
    }

        header .navbar-brand .btn img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        header .navbar-brand .btn:hover {
            background-color: transparent;
        }

    header .nav > li:not(:last-child)::after {
        content: '';
        position: absolute;
        height: 30px;
        top: 10px;
        width: 1px;
        right: -.5px;
        background-color: #fff;
    }

    header .nav > li:last-child > a {
        padding-left: 0;
    }

    header .nav > li.user.dd-open .dropdown {
        display: block;
    }

@media screen and (max-width: 1199px) {
    header .nav > li:not(.user) {
        display: none;
    }

    header .nav > li.user {
        padding-right: 0;
    }

        header .nav > li.user::after {
            display: none;
        }
}

@media screen and (max-width: 767px) {
    header .nav > li.user {
        font-size: 0;
    }

        header .nav > li.user a {
            padding-right: 0;
        }
}

header .dropdown {
    display: none;
    position: absolute;
    background-color: #3e3e3e;
    color: #fff;
    bottom: -1px;
    right: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    padding: 15px;
    min-width: 100%;
}

    header .dropdown a {
        color: inherit;
    }

@media screen and (max-width: 767px) {
    header .dropdown {
        right: -15px;
        font-size: 16px;
        min-width: 150px;
        text-align: right;
    }
}

header .nav > li > a.q-mark:hover, header .nav > li > a.q-mark:focus {
    background-color: #616161;
}

header .message {
    height: 50px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1 1 0%;
}

    header .message > a {
        display: block !important;
        width: 100%;
        position: relative;
        height: 50px;
    }

header .msg-text {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 48px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    overflow-x: ellipsis;
    right: 10px;
    overflow-y: hidden;
}

@media screen and (max-width: 767px) {
    .nav-tabs > li > a span {
        display: none;
    }
}

.navbar-header {
    float: left;
}

.navbar-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

    .navbar-right::after, .navbar-right::before {
        display: none;
    }

@media screen and (max-width: 767px) {
    .navbar-right {
        margin: 0;
    }
}

.navbar-inverse .navbar-brand {
    font-size: 24px;
}

@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        font-size: 16px;
    }
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #fff;
}

.breadcrumb {
    font-size: 20px;
    padding: 11px 15px;
    background-color: #b5b5b5;
    border-radius: 0;
    position: relative;
    margin-bottom: 0;
}

    .breadcrumb::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0;
        border-color: #b5b5b5 transparent transparent;
        position: absolute;
        bottom: -10px;
        left: 40px;
    }

    .breadcrumb > li.active {
        color: #393939;
    }

    .breadcrumb > li + li::before {
        content: '>';
        color: #393939;
    }

    .breadcrumb > li a {
        color: #393939;
    }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding-top: 15px;
}

    footer::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 15px;
        left: 0;
        right: 0;
        background-color: #3e3e3e;
    }

@media screen and (min-width: 768px) and (max-width: 1199px) {
    footer {
        min-height: 103px;
    }

        footer .footer-content {
            background-image: url(../images/noise-light.png);
            min-height: 88px;
        }

        footer::after {
            z-index: 2;
        }
}

@media screen and (max-width: 767px) {
    footer {
        min-height: 107px;
    }

        footer::after {
            display: none;
        }

        footer .footer-content {
            background-image: url(../images/noise-light.png);
            min-height: 82px;
        }
}

footer .btn-wrap {
    height: 75px;
    padding: 15px;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    footer .btn-wrap {
        display: none;
    }
}

footer .btn-wrap [class*='icon'] {
    color: #fff;
    top: 1px;
    font-size: 1em;
}

footer .btn-wrap .btn {
    position: relative;
    z-index: 2;
}

footer .btn-wrap.left {
    border-top-right-radius: 15px;
    background-color: #3e3e3e;
    position: absolute;
    left: 0;
    bottom: 0;
}

    footer .btn-wrap.left::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 50px;
        top: 10px;
        right: -30px;
        border-bottom-left-radius: 15px;
        background-color: transparent;
        box-shadow: -10px 10px 0 5px #3e3e3e;
    }

footer .btn-wrap.right {
    border-top-left-radius: 15px;
    background-color: #3e3e3e;
    position: absolute;
    right: 0;
    bottom: 0;
}

    footer .btn-wrap.right::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 50px;
        top: 10px;
        left: -30px;
        border-bottom-right-radius: 15px;
        background-color: transparent;
        box-shadow: 10px 10px 0 5px #3e3e3e;
    }

    footer .btn-wrap.right [class*='icon'] {
        position: relative;
        top: 10px;
    }

footer .footer-content {
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
    padding-left: 185px;
    padding-right: 70px;
    text-align: right;
    font-size: 20px;
}

    footer .footer-content .btn {
        margin-left: 20px;
    }

@media screen and (max-width: 767px) {
    footer .footer-content {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        text-align: left;
    }

        footer .footer-content::after {
            display: none;
        }

        footer .footer-content .color-palette .classification-lgnd {
            display: block;
            padding: 0;
        }
}

footer .actions {
    display: none;
}

    footer .actions.visible {
        display: block;
    }

        footer .actions.visible + .content-wrapper {
            display: none;
        }

.heading_class1 {
    background-color: #27AE60;
    border-radius: 8px;
}

.heading_class2 {
    background-color: #F1C40F;
    border-radius: 8px;
}

.heading_class3 {
    background-color: #E67E22;
    border-radius: 8px;
}

.heading_class4 {
    background-color: #C0392B;
    border-radius: 8px;
}

.legend-cl1 {
    background-color: #27AE60;
    border-radius: 8px;
}

.legend-cl2 {
    background-color: #F1C40F;
    border-radius: 8px;
}

.legend-cl3 {
    background-color: #E67E22;
    border-radius: 8px;
}

.legend-cl4 {
    background-color: #C0392B;
    border-radius: 8px;
}

.classification-lgnd {
    font-size: 100% !important;
    margin-top: 10px !important;
}

.loader-gif {
    padding-left: 15px;
    min-width: 45px;
}

.error-msg {
    color: red;
}

.history-msg {
    color: #5b93b8;
}

.message-feed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    background-color: #3e3e3e;
    padding: 20px 10px 10px;
    overflow: auto;
    display: none;
}

    .message-feed .table-wrap {
        margin-bottom: 10px;
        height: 438px;
        overflow-y: auto;
    }

    .message-feed td.type {
        font-size: 36px;
        padding: 0 10px;
        vertical-align: middle;
        text-align: center;
    }

        .message-feed td.type .icon {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

    .message-feed .type {
        width: 50px;
    }

header nav .state-icon {
    float: left;
    color: #fff;
    margin-left: 0 !important;
}

hlnt-message-drawer.closed .message-feed, [hlnt-message-drawer].closed .message-feed {
    height: 0;
}

hlnt-message-drawer.open .message-feed:after, [hlnt-message-drawer].open .message-feed:after {
    opacity: 0;
}

hlnt-message-drawer.open .message-feed, [hlnt-message-drawer].open .message-feed {
    height: 438px;
}

/*# sourceMappingURL=main.css.map */